<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>
<div id="div_add_reply" style="margin-top: 60px">
  <form action="topic.do"  method="post">
    <input type="hidden" name="operate" value="addTopic">
    <table>
    <tr>
      <th style="width: 25%">Journal subject:</th>
      <td><input type="text" name="title" /></td>
    </tr>
    <tr>

    <tr>
      <th style="width: 25%">Journal content:</th>
      <td><input type="text" name="content" /></td>
    </tr>
      <tr>
        <th colspan="2">
          <input type="submit" value="Publis"/>
          <input type="reset" value="Reset"/>
        </th>
      </tr>
      </table>
  </form>
  </div>


</body>
</html>